# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master

pool:
  vmImage: 'ubuntu-latest'

strategy:
matrix:
  node_10_x:
    node_version: 10.14.x

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: $(node_version)

  - script: npm install
    displayName: npm install

    # build
  - script: npm run build
    displayName: npm run build
