# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.14.x
      displayName: install node

  - script: npm install
    displayName: npm install

    # build
  - script: npm run build
    displayName: npm run build
